{{#partial "content"}}

    <div class="home">
        <div class="container px-4">
            <div class="row gx-5">
                <div class="col-sm-6">
                    <div class="p-3 border bg-light">
                       <h2>The Forest Service is considering a proposal from a timber company to clearcut a nearby forest of Douglas Fir. Before this proposal may be approved, they must complete an environmental impact study.</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-3 border bg-light">
                        <h3> Help Us Save All Animals.</h3>
                        <h3>Click <a href="/form">Here</a>to add any sightings</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{/partial}}

{{>layout.hbs}}