body {
background-image: url("https://images.unsplash.com/photo-1452001603782-7d4e7d931173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80");
background-repeat: no-repeat;
background-size: cover;
color: white;
height: 80vh;
background-position: center;
margin-top: 20px;
justify-content: center;
align-items: center;
}
button {
background-color: rgb(65,39,13);
color: white;
}
button :hover {
color: white;
background-color: white;
}
a {
color: black;
}