
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Tracker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="app.css" rel="stylesheet">
</head>
<style>
    background-image: url("/images/tiger.jpeg");
</style>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/form">Add Animal Sightings</a></li>
    <li role="presentation"><a href= "/sighting"> View Sightings</a></li>
</ul>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="/sighting">Endangered Animal</a></li>
        <li><a class="dropdown-item" href="/animal">Animal</a></li>
    </ul>
</div>

<div class="container">
    <!--begin main template-->
    <div>
        <h1> <strong> Welcome!</strong>Sighted any endangered animals or any other animal?  </h1>
    </div>
    <div class="page-header p-4">
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}